[submodule "0x11-_printf"]
	path = 0x11-_printf
	url = https://github.com/josiashod/printf.git
[submodule "0x11-simple_shell"]
	path = 0x11-simple_shell
	url = https://github.com/josiashod/simple_shell.git
[submodule "0x16-simple_shell"]
	path = 0x16-simple_shell
	url = https://github.com/josiashod/simple_shell.git
[submodule "0x19-stacks_queues-LIFO_FIFO"]
	path = 0x19-stacks_queues-LIFO_FIFO
	url = https://github.com/josiashod/monty.git
[submodule "0x20-sorting_algorithms"]
	path = 0x20-sorting_algorithms
	url = https://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@github.com/josiashod/sorting_algorithms.git
[submodule "0x1D-binary_trees"]
	path = 0x1D-binary_trees
	url = https://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@github.com/josiashod/binary_trees.git
